<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.hwtc.aidlserver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".CalculateService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.com.hwtc.aidlserver.CalculateService" />
            </intent-filter>
        </service>
    </application>
</manifest>
